In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.cross_validation import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import AdaBoostClassifier

In [2]:
dirt = "C:/Users/Xing/Desktop/ML/D3/"
adult = pd.read_csv(dirt + 'adult.csv')

In [42]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [43]:
adult.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456,0.240810
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429,0.427581
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [44]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
income            32561 non-null int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

In [45]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
income             int64
dtype: object

In [3]:
adult.dropna(inplace=True)
adult['workclass']=adult['workclass'].astype('category')
adult['education']=adult['education'].astype('category')
adult['marital-status']=adult['marital-status'].astype('category')
adult['occupation']=adult['occupation'].astype('category')
adult['relationship']=adult['relationship'].astype('category')
adult['race']=adult['race'].astype('category')
adult['sex']=adult['sex'].astype('category')
adult['native-country']=adult['native-country'].astype('category')
adult['income']=adult['income'].astype('category')

In [5]:
adult.dtypes

age                  int64
workclass         category
fnlwgt               int64
education         category
education-num        int64
marital-status    category
occupation        category
relationship      category
race              category
sex               category
capital-gain         int64
capital-loss         int64
hours-per-week       int64
native-country    category
income            category
dtype: object

In [48]:
adult.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
Xcols=['workclass','education','marital-status','occupation','relationship','race','sex','native-country','age',
      'fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
Ycol = ['income']
Xcols=adult[Xcols]
Xcols=pd.get_dummies(Xcols)
Xcols.dtypes

age                                           int64
fnlwgt                                        int64
education-num                                 int64
capital-gain                                  int64
capital-loss                                  int64
hours-per-week                                int64
workclass_ ?                                  uint8
workclass_ Federal-gov                        uint8
workclass_ Local-gov                          uint8
workclass_ Never-worked                       uint8
workclass_ Private                            uint8
workclass_ Self-emp-inc                       uint8
workclass_ Self-emp-not-inc                   uint8
workclass_ State-gov                          uint8
workclass_ Without-pay                        uint8
education_ 10th                               uint8
education_ 11th                               uint8
education_ 12th                               uint8
education_ 1st-4th                            uint8
education_ 5th-6th                            uint8
education_ 7th-8th                            uint8
education_ 9th                                uint8
education_ Assoc-acdm                         uint8
education_ Assoc-voc                          uint8
education_ Bachelors                          uint8
education_ Doctorate                          uint8
education_ HS-grad                            uint8
education_ Masters                            uint8
education_ Preschool                          uint8
education_ Prof-school                        uint8
                                              ...
native-country_ Greece                        uint8
native-country_ Guatemala                     uint8
native-country_ Haiti                         uint8
native-country_ Holand-Netherlands            uint8
native-country_ Honduras                      uint8
native-country_ Hong                          uint8
native-country_ Hungary                       uint8
native-country_ India                         uint8
native-country_ Iran                          uint8
native-country_ Ireland                       uint8
native-country_ Italy                         uint8
native-country_ Jamaica                       uint8
native-country_ Japan                         uint8
native-country_ Laos                          uint8
native-country_ Mexico                        uint8
native-country_ Nicaragua                     uint8
native-country_ Outlying-US(Guam-USVI-etc)    uint8
native-country_ Peru                          uint8
native-country_ Philippines                   uint8
native-country_ Poland                        uint8
native-country_ Portugal                      uint8
native-country_ Puerto-Rico                   uint8
native-country_ Scotland                      uint8
native-country_ South                         uint8
native-country_ Taiwan                        uint8
native-country_ Thailand                      uint8
native-country_ Trinadad&Tobago               uint8
native-country_ United-States                 uint8
native-country_ Vietnam                       uint8
native-country_ Yugoslavia                    uint8
Length: 108, dtype: object

In [7]:
Y=adult[Ycol]

In [8]:
X = pd.concat([Xcols], axis=1)

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y)

In [12]:
feature_names=X.columns
print (feature_names)

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov',
       'workclass_ Local-gov', 'workclass_ Never-worked',
       ...
       'native-country_ Portugal', 'native-country_ Puerto-Rico',
       'native-country_ Scotland', 'native-country_ South',
       'native-country_ Taiwan', 'native-country_ Thailand',
       'native-country_ Trinadad&Tobago', 'native-country_ United-States',
       'native-country_ Vietnam', 'native-country_ Yugoslavia'],
      dtype='object', length=108)

In [53]:
ada_income = AdaBoostClassifier(DecisionTreeClassifier(criterion='entropy', max_depth=10),
                               n_estimators=300, algorithm="SAMME.R", learning_rate=0.1)
ada_income.fit(X_train, Y_train)
pred2 = ada_income.predict(X_test)
print(metrics.confusion_matrix(Y_test, pred2))
print("Accuracy Score =", metrics.accuracy_score(Y_test, pred2))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[5738  455]
 [ 880 1068]]
Accuracy Score = 0.8360152315440363

# ada_Boosts.fit(X_train, Y_train)

In [ ]:
##

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          learning_rate=1.0, n_estimators=300, random_state=30)

In [49]:
from sklearn.metrics import make_scorer, fbeta_score, accuracy_score
from sklearn import metrics

ada_income = (ada_Boosts.predict(X_test))

print(metrics.confusion_matrix(Y_test, ada_income))
print("Accuracy Score =", metrics.accuracy_score(Y_test, ada_income))

#print ("Accuracy score on testing data:{:.4f}".format(
#accuracy_score(Y_test, ada_income)))
print ("F-score on testing data:{:.4f}".format(fbeta_score(
Y_test, ada_income, beta=0.5)))

[[5717  476]
 [ 802 1146]]
Accuracy Score = 0.8430168283994596
F-score on testing data:0.6792

In [97]:

from sklearn import metrics
adult_tree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=4, max_leaf_nodes=5)
adult_tree.fit(X_train, Y_train)
predictions = adult_tree.predict(X_test)
print(metrics.confusion_matrix(Y_test, predictions))
print("Accuracy Score =", metrics.accuracy_score(Y_test, predictions))


#adult_tree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=4, max_leaf_nodes=5)

[[5847  299]
 [ 969 1026]]
Accuracy Score = 0.8442451787249724

In [54]:
###### n-fold cross-validation ###################
from sklearn.model_selection import cross_val_score
cross_val_score(ada_income, X_train, Y_train, cv=5, scoring = "accuracy")

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0.83684749, 0.83746162, 0.83619984, 0.83104649, 0.83555191])

In [ ]:
import tensorflow as tf

In [ ]:
import pydot
dirt = "C:/Users/Xing/Desktop/ML/D4/"


(graph,) = pydot.graph_from_dot_file(dirt+"tree_mush.dot")
graph.write_png(dirt+'somefile.png')